# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the same account you used in the lab (hvt201)  and query the database that you were querying in class (citibike_feb_2015)

In [2]:
SQL_SOURCE = 'https://td928-nyu.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

# Task 1

## sort by start station id and trip duration

In [3]:
q1 = '''
SELECT * FROM citibike ORDER BY start_station_id
'''

In [4]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q1)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,42446,NaN,NaN,1,1983.0,21114,500,72,359,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-07 14:39:00+00,2015-02-07 14:33:00+00
1,11298,NaN,NaN,1,1964.0,21500,79,72,1678,Subscriber,Franklin St & W Broadway,W 52 St & 11 Ave,-74.006667,40.719116,-73.993929,40.767272,2015-02-03 18:49:00+00,2015-02-03 18:21:00+00
2,19501,NaN,NaN,1,1971.0,20139,476,72,1366,Subscriber,E 31 St & 3 Ave,W 52 St & 11 Ave,-73.979661,40.743943,-73.993929,40.767272,2015-02-04 19:02:00+00,2015-02-04 18:40:00+00
3,20070,NaN,NaN,1,1974.0,17997,352,72,574,Subscriber,W 56 St & 6 Ave,W 52 St & 11 Ave,-73.977225,40.763406,-73.993929,40.767272,2015-02-04 19:33:00+00,2015-02-04 19:24:00+00
4,1983,NaN,NaN,0,NaN,17849,328,72,1944,Customer,Watts St & Greenwich St,W 52 St & 11 Ave,-74.009660,40.724055,-73.993929,40.767272,2015-02-01 13:12:00+00,2015-02-01 12:39:00+00
5,13647,NaN,NaN,2,1977.0,18900,487,72,1537,Subscriber,E 20 St & FDR Drive,W 52 St & 11 Ave,-73.975739,40.733143,-73.993929,40.767272,2015-02-04 08:33:00+00,2015-02-04 08:07:00+00
6,23938,NaN,NaN,2,1980.0,16960,267,72,817,Subscriber,Broadway & W 36 St,W 52 St & 11 Ave,-73.987654,40.750977,-73.993929,40.767272,2015-02-05 09:15:00+00,2015-02-05 09:01:00+00
7,9054,NaN,NaN,2,1966.0,18653,328,72,2099,Subscriber,Watts St & Greenwich St,W 52 St & 11 Ave,-74.009660,40.724055,-73.993929,40.767272,2015-02-03 11:02:00+00,2015-02-03 10:28:00+00
8,13797,NaN,NaN,1,1977.0,14918,520,72,517,Subscriber,W 52 St & 5 Ave,W 52 St & 11 Ave,-73.976485,40.759923,-73.993929,40.767272,2015-02-04 08:26:00+00,2015-02-04 08:18:00+00
9,5136,NaN,NaN,1,1983.0,16427,529,72,455,Subscriber,W 42 St & 8 Ave,W 52 St & 11 Ave,-73.990985,40.757570,-73.993929,40.767272,2015-02-01 18:03:00+00,2015-02-01 17:55:00+00
10,14063,NaN,NaN,1,1975.0,20642,520,72,692,Subscriber,W 52 St & 5 Ave,W 52 St & 11 Ave,-73.976485,40.759923,-73.993929,40.767272,2015-02-04 08:50:00+00,2015-02-04 08:38:00+00
11,32166,NaN,NaN,2,1984.0,21561,359,72,838,Subscriber,E 47 St & Park Ave,W 52 St & 11 Ave,-73.974987,40.755103,-73.993929,40.767272,2015-02-06 08:48:00+00,2015-02-06 08:34:00+00
12,44789,NaN,NaN,1,1983.0,17669,447,72,345,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 18:51:00+00,2015-02-07 18:46:00+00
13,27104,NaN,NaN,1,1973.0,15927,479,72,386,Subscriber,9 Ave & W 45 St,W 52 St & 11 Ave,-73.991255,40.760193,-73.993929,40.767272,2015-02-05 16:06:00+00,2015-02-05 16:00:00+00
14,35492,NaN,NaN,1,1972.0,18606,472,72,928,Subscriber,E 32 St & Park Ave,W 52 St & 11 Ave,-73.981948,40.745712,-73.993929,40.767272,2015-02-06 16:08:00+00,2015-02-06 15:53:00+00
15,18756,NaN,NaN,1,1964.0,20592,499,72,659,Subscriber,Broadway & W 60 St,W 52 St & 11 Ave,-73.981918,40.769155,-73.993929,40.767272,2015-02-04 18:06:00+00,2015-02-04 17:55:00+00
16,24327,NaN,NaN,2,1972.0,17538,510,72,531,Subscriber,W 51 St & 6 Ave,W 52 St & 11 Ave,-73.980420,40.760660,-73.993929,40.767272,2015-02-05 09:36:00+00,2015-02-05 09:27:00+00
17,30235,NaN,NaN,1,1984.0,15896,463,72,915,Subscriber,9 Ave & W 16 St,W 52 St & 11 Ave,-74.004432,40.742065,-73.993929,40.767272,2015-02-05 20:53:00+00,2015-02-05 20:38:00+00
18,9194,NaN,NaN,1,1980.0,17196,500,72,388,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-03 11:30:00+00,2015-02-03 11:23:00+00
19,23547,NaN,NaN,2,1986.0,19390,2021,72,424,Subscriber,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-05 08:49:00+00,2015-02-05 08:42:00+00
20,9494,NaN,NaN,1,1961.0,16754,478,72,348,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-03 13:06:00+00,2015-02-03 13:01:00+00
21,649,NaN,NaN,2,1986.0,14692,2021,72,344,Subscriber,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-01 09:54:00+00,2015-02-01 09:49:00+00
22,22959,NaN,NaN,1,1977.0,15927,520,72,552,Subscriber,W 52 St & 5 Ave,W 52 St & 11 Ave,-73.976485,40.759923,-73.993929,40.767272,2015-02-05 08:19:00+00,2015-02-05 08:10:00+00
23,14395,NaN,NaN,1,1981.0,18620,500,72,367,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-04 09:05:00+00,2015-02-04 08:59:00+00
24,2282,NaN,NaN,1,1974.0,18174,447,72,301,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-01 13:13:00+00,2015-02-01 13:08:00+00
25,32566,NaN,NaN,1,1971.0,18492,478,72,261,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-06 09:02:00+00,2015-02-06 08:58:00+00
26,23546,NaN,NaN,2,1986.0,21223,2021,72,432,Subscriber,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-05 08:49:00+00,2015-02-05 08:42:00+00
27,11676,NaN,NaN,1,1984.0,19721,463,72,1082,Subscriber,9 Ave & W 16 St,W 52 St & 11 Ave,-74.004432,40.742065,-73.993929,40.767272,2015-02-03 19:24:00+00,2015-02-03 19:06:00+00
28,25842,NaN,NaN,2,1972.0,16310,500,72,377,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 13:01:00+00,2015-02-05 12:55:00+00
29,14540,NaN,NaN,1,1990.0,20065,458,72,871,Subscriber,11 Ave & W 27 St,W 52 St & 11 Ave,-74.005226,40.751396,-73.993929,40.767272,2015-02-04 09:26:00+00,2015-02-04 09:11:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,30231,NaN,NaN,1,1996.0,17223,306,3002,493,Subscriber,Cliff St & Fulton St,South End Ave & Liberty St,-74.005301,40.708235,-74.015756,40.711512,2015-02-05 20:46:00+00,2015-02-05 20:37:00+00
46171,41541,NaN,NaN,1,1955.0,15495,168,3002,1332,Subscriber,W 18 St & 6 Ave,South End Ave & Liberty St,-73.994564,40.739713,-74.015756,40.711512,2015-02-07 13:02:00+00,2015-02-07 12:40:00+00
46172,41524,NaN,NaN,2,1967.0,16210,417,3002,316,Subscriber,Barclay St & Church St,South End Ave & Liberty St,-74.010202,40.712912,-74.015756,40.711512,2015-02-07 12:42:00+00,2015-02-07 12:37:00+00
46173,6901,NaN,NaN,1,1981.0,17038,2008,3002,305,Subscriber,Little West St & 1 Pl,South End Ave & Liberty St,-74.016777,40.705693,-74.015756,40.711512,2015-02-02 10:47:00+00,2015-02-02 10:42:00+00
46174,6876,NaN,NaN,1,1991.0,19783,329,3002,771,Subscriber,Greenwich St & N Moore St,South End Ave & Liberty St,-74.010206,40.720434,-74.015756,40.711512,2015-02-02 10:29:00+00,2015-02-02 10:16:00+00
46175,12171,NaN,NaN,1,1979.0,16155,363,3002,170,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-03 20:43:00+00,2015-02-03 20:40:00+00
46176,24508,NaN,NaN,1,1975.0,18470,304,3002,289,Subscriber,Broadway & Battery Pl,South End Ave & Liberty St,-74.013617,40.704633,-74.015756,40.711512,2015-02-05 09:45:00+00,2015-02-05 09:40:00+00
46177,35576,NaN,NaN,1,1969.0,21158,318,3002,1776,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-06 16:32:00+00,2015-02-06 16:02:00+00
46178,37215,NaN,NaN,1,1984.0,18718,2008,3002,208,Subscriber,Little West St & 1 Pl,South End Ave & Liberty St,-74.016777,40.705693,-74.015756,40.711512,2015-02-06 18:04:00+00,2015-02-06 18:00:00+00
46179,3298,NaN,NaN,1,1990.0,19951,264,3002,293,Subscriber,Maiden Ln & Pearl St,South End Ave & Liberty St,-74.007319,40.707065,-74.015756,40.711512,2015-02-01 14:56:00+00,2015-02-01 14:51:00+00
46180,5261,NaN,NaN,1,1972.0,20637,327,3002,838,Subscriber,Vesey Pl & River Terrace,South End Ave & Liberty St,-74.016584,40.715338,-74.015756,40.711512,2015-02-01 18:20:00+00,2015-02-01 18:06:00+00
46181,4296,NaN,NaN,1,1991.0,19105,427,3002,531,Subscriber,Bus Slip & State St,South End Ave & Liberty St,-74.013942,40.701907,-74.015756,40.711512,2015-02-01 16:42:00+00,2015-02-01 16:33:00+00
46182,34333,NaN,NaN,1,1954.0,20955,304,3002,314,Subscriber,Broadway & Battery Pl,South End Ave & Liberty St,-74.013617,40.704633,-74.015756,40.711512,2015-02-06 13:25:00+00,2015-02-06 13:20:00+00
46183,42784,NaN,NaN,1,1959.0,19434,355,3002,834,Subscriber,Bayard St & Baxter St,South End Ave & Liberty St,-73.999744,40.716021,-74.015756,40.711512,2015-02-07 15:25:00+00,2015-02-07 15:11:00+00
46184,4269,NaN,NaN,1,1963.0,18982,320,3002,516,Subscriber,Leonard St & Church St,South End Ave & Liberty St,-74.005549,40.717571,-74.015756,40.711512,2015-02-01 16:38:00+00,2015-02-01 16:30:00+00
46185,27637,NaN,NaN,1,1973.0,17061,521,3002,1285,Subscriber,8 Ave & W 31 St,South End Ave & Liberty St,-73.994811,40.750450,-74.015756,40.711512,2015-02-05 17:20:00+00,2015-02-05 16:59:00+00
46186,15488,NaN,NaN,1,1988.0,15904,2000,3002,925,Subscriber,Front St & Washington St,South End Ave & Liberty St,-73.989402,40.702551,-74.015756,40.711512,2015-02-04 11:40:00+00,2015-02-04 11:25:00+00
46187,18570,NaN,NaN,1,1978.0,17632,212,3002,1218,Subscriber,W 16 St & The High Line,South End Ave & Liberty St,-74.006818,40.743349,-74.015756,40.711512,2015-02-04 18:05:00+00,2015-02-04 17:44:00+00
46188,6781,NaN,NaN,1,1959.0,19665,494,3002,1976,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-02 09:53:00+00,2015-02-02 09:21:00+00
46189,12373,NaN,NaN,2,1973.0,16144,401,3002,931,Subscriber,Allen St & Rivington St,South End Ave & Liberty St,-73.989978,40.720196,-74.015756,40.711512,2015-02-03 21:51:00+00,2015-02-03 21:35:00+00
46190,6777,NaN,NaN,1,1975.0,17448,304,3002,399,Subscriber,Broadway & Battery Pl,South End Ave & Liberty St,-74.013617,40.704633,-74.015756,40.711512,2015-02-02 09:25:00+00,2015-02-02 09:18:00+00
46191,34225,NaN,NaN,1,1951.0,15977,348,3002,771,Subscriber,W Broadway & Spring St,South End Ave & Liberty St,-74.001547,40.724910,-74.015756,40.711512,2015-02-06 13:16:00+00,2015-02-06 13:03:00+00
46192,4413,NaN,NaN,2,1964.0,20744,531,3002,943,Subscriber,Forsyth St & Broome St,South End Ave & Liberty St,-73.992663,40.718939,-74.015756,40.711512,2015-02-01 17:00:00+00,2015-02-01 16:45:00+00
46193,20193,NaN,NaN,2,1972.0,15005,2008,3002,253,Subscriber,Little West St & 1 Pl,South End Ave & Liberty St,-74.016777,40.705693,-74.015756,40.711512,2015-02-04 19:40:00+00,2015-02-04 19:36:00+00
46194,43446,NaN,NaN,1,1974.0,19000,380,3002,876,Subscriber,W 4 St & 7 Ave S,South End Ave & Liberty St,-74.002939,40.734011,-74.015756,40.711512,2015-02-07 16:35:00+00,2015-02-07 16:20:00+00
46195,41340,NaN,NaN,1,1979.0,18470,363,3002,108,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-07 12:09:00+00,2015-02-07 12:07:00+00
46196,24333,NaN,NaN,2,1985.0,16783,195,3002,269,Subscriber,Liberty St & Broadway,South End Ave & Liberty St,-74.010434,40.709056,-74.015756,40.711512,2015-02-05 09:31:00+00,2015-02-05 09:27:00+00
46197,12433,NaN,NaN,2,1991.0,15456,2008,3002,272,Subscriber,Little West St & 1 Pl,South End Ave & Liberty St,-74.016777,40.705693,-74.015756,40.711512,2015-02-03 21:57:00+00,2015-02-03 21:53:00+00
46198,24329,NaN,NaN,1,1954.0,18797,427,3002,418,Subscriber,Bus Slip & State St,South End Ave & Liberty St,-74.013942,40.701907,-74.015756,40.711512,2015-02-05 09:34:00+00,2015-02-05 09:27:00+00
46199,24326,NaN,NaN,1,1966.0,20131,427,3002,545,Subscriber,Bus Slip & State St,South End Ave & Liberty St,-74.013942,40.701907,-74.015756,40.711512,2015-02-05 09:36:00+00,2015-02-05 09:27:00+00

In [5]:
q2 = '''
SELECT * FROM citibike ORDER BY tripduration
'''

In [6]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q2)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,24408,NaN,NaN,1,1983.0,18581,2009,2009,60,Subscriber,Catherine St & Monroe St,Catherine St & Monroe St,-73.996826,40.711174,-73.996826,40.711174,2015-02-05 09:33:00+00,2015-02-05 09:32:00+00
1,7798,NaN,NaN,1,1986.0,17643,379,379,60,Subscriber,W 31 St & 7 Ave,W 31 St & 7 Ave,-73.991600,40.749156,-73.991600,40.749156,2015-02-02 21:40:00+00,2015-02-02 21:39:00+00
2,45697,NaN,NaN,1,1981.0,21524,393,393,60,Subscriber,E 5 St & Avenue C,E 5 St & Avenue C,-73.979955,40.722992,-73.979955,40.722992,2015-02-07 21:41:00+00,2015-02-07 21:40:00+00
3,14117,NaN,NaN,1,1990.0,21644,296,296,60,Subscriber,Division St & Bowery,Division St & Bowery,-73.997047,40.714131,-73.997047,40.714131,2015-02-04 08:42:00+00,2015-02-04 08:41:00+00
4,13482,NaN,NaN,2,1960.0,21627,512,512,60,Subscriber,W 29 St & 9 Ave,W 29 St & 9 Ave,-73.998393,40.750073,-73.998393,40.750073,2015-02-04 07:53:00+00,2015-02-04 07:52:00+00
5,38842,NaN,NaN,1,1987.0,16051,445,445,60,Subscriber,E 10 St & Avenue A,E 10 St & Avenue A,-73.981420,40.727408,-73.981420,40.727408,2015-02-06 20:41:00+00,2015-02-06 20:40:00+00
6,8284,NaN,NaN,1,1982.0,19896,251,251,60,Subscriber,Mott St & Prince St,Mott St & Prince St,-73.994800,40.723180,-73.994800,40.723180,2015-02-03 08:08:00+00,2015-02-03 08:07:00+00
7,19243,NaN,NaN,1,1970.0,20309,248,248,60,Subscriber,Laight St & Hudson St,Laight St & Hudson St,-74.007718,40.721854,-74.007718,40.721854,2015-02-04 18:23:00+00,2015-02-04 18:22:00+00
8,7299,NaN,NaN,1,1956.0,20842,474,474,60,Subscriber,5 Ave & E 29 St,5 Ave & E 29 St,-73.986831,40.745168,-73.986831,40.745168,2015-02-02 17:15:00+00,2015-02-02 17:14:00+00
9,21407,NaN,NaN,1,1980.0,16148,523,523,60,Subscriber,W 38 St & 8 Ave,W 38 St & 8 Ave,-73.991382,40.754666,-73.991382,40.754666,2015-02-04 22:39:00+00,2015-02-04 22:38:00+00
10,3110,NaN,NaN,1,1985.0,20572,317,317,60,Subscriber,E 6 St & Avenue B,E 6 St & Avenue B,-73.981854,40.724537,-73.981854,40.724537,2015-02-01 14:35:00+00,2015-02-01 14:34:00+00
11,11104,NaN,NaN,1,1980.0,16340,471,471,60,Subscriber,Grand St & Havemeyer St,Grand St & Havemeyer St,-73.956981,40.712868,-73.956981,40.712868,2015-02-03 18:02:00+00,2015-02-03 18:01:00+00
12,13043,NaN,NaN,1,1971.0,14788,521,521,60,Subscriber,8 Ave & W 31 St,8 Ave & W 31 St,-73.994811,40.750450,-73.994811,40.750450,2015-02-04 06:55:00+00,2015-02-04 06:54:00+00
13,33759,NaN,NaN,1,1979.0,17448,470,470,60,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-06 11:39:00+00,2015-02-06 11:38:00+00
14,5715,NaN,NaN,2,1950.0,15079,355,355,61,Subscriber,Bayard St & Baxter St,Bayard St & Baxter St,-73.999744,40.716021,-73.999744,40.716021,2015-02-01 19:17:00+00,2015-02-01 19:16:00+00
15,6934,NaN,NaN,1,1970.0,17141,491,491,61,Subscriber,E 24 St & Park Ave S,E 24 St & Park Ave S,-73.986022,40.740964,-73.986022,40.740964,2015-02-02 11:23:00+00,2015-02-02 11:22:00+00
16,850,NaN,NaN,1,1983.0,15192,388,388,61,Subscriber,W 26 St & 10 Ave,W 26 St & 10 Ave,-74.002950,40.749718,-74.002950,40.749718,2015-02-01 10:27:00+00,2015-02-01 10:26:00+00
17,2570,NaN,NaN,1,1900.0,20381,251,251,61,Subscriber,Mott St & Prince St,Mott St & Prince St,-73.994800,40.723180,-73.994800,40.723180,2015-02-01 13:40:00+00,2015-02-01 13:39:00+00
18,7551,NaN,NaN,1,1984.0,15131,410,410,61,Subscriber,Suffolk St & Stanton St,Suffolk St & Stanton St,-73.985180,40.720664,-73.985180,40.720664,2015-02-02 18:52:00+00,2015-02-02 18:51:00+00
19,26912,NaN,NaN,2,1964.0,16247,531,531,61,Subscriber,Forsyth St & Broome St,Forsyth St & Broome St,-73.992663,40.718939,-73.992663,40.718939,2015-02-05 15:35:00+00,2015-02-05 15:34:00+00
20,11653,NaN,NaN,1,1980.0,16900,237,237,61,Subscriber,E 11 St & 2 Ave,E 11 St & 2 Ave,-73.986724,40.730473,-73.986724,40.730473,2015-02-03 19:02:00+00,2015-02-03 19:01:00+00
21,8962,NaN,NaN,1,1976.0,19406,517,517,61,Subscriber,Pershing Square South,Pershing Square South,-73.977910,40.751581,-73.977910,40.751581,2015-02-03 10:03:00+00,2015-02-03 10:02:00+00
22,6858,NaN,NaN,2,1993.0,15005,461,461,61,Subscriber,E 20 St & 2 Ave,E 20 St & 2 Ave,-73.982050,40.735877,-73.982050,40.735877,2015-02-02 10:06:00+00,2015-02-02 10:05:00+00
23,10622,NaN,NaN,1,1986.0,19496,444,444,61,Subscriber,Broadway & W 24 St,Broadway & W 24 St,-73.989151,40.742354,-73.989151,40.742354,2015-02-03 17:12:00+00,2015-02-03 17:11:00+00
24,30162,NaN,NaN,1,1980.0,17860,128,128,62,Subscriber,MacDougal St & Prince St,MacDougal St & Prince St,-74.002971,40.727103,-74.002971,40.727103,2015-02-05 20:26:00+00,2015-02-05 20:25:00+00
25,7135,NaN,NaN,1,1967.0,16863,380,380,62,Subscriber,W 4 St & 7 Ave S,W 4 St & 7 Ave S,-74.002939,40.734011,-74.002939,40.734011,2015-02-02 14:29:00+00,2015-02-02 14:28:00+00
26,39290,NaN,NaN,2,1982.0,16531,500,500,62,Subscriber,Broadway & W 51 St,Broadway & W 51 St,-73.983362,40.762288,-73.983362,40.762288,2015-02-06 23:07:00+00,2015-02-06 23:06:00+00
27,18151,NaN,NaN,1,1983.0,19690,527,527,62,Subscriber,E 33 St & 2 Ave,E 33 St & 2 Ave,-73.976056,40.744023,-73.976056,40.744023,2015-02-04 17:18:00+00,2015-02-04 17:17:00+00
28,36187,NaN,NaN,1,1961.0,21649,435,435,62,Subscriber,W 21 St & 6 Ave,W 21 St & 6 Ave,-73.994156,40.741740,-73.994156,40.741740,2015-02-06 16:55:00+00,2015-02-06 16:54:00+00
29,10810,NaN,NaN,1,1994.0,18190,511,511,62,Subscriber,E 14 St & Avenue B,E 14 St & Avenue B,-73.977724,40.729387,-73.977724,40.729387,2015-02-03 17:32:00+00,2015-02-03 17:31:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,40710,NaN,NaN,2,1993.0,14988,490,512,18559,Subscriber,8 Ave & W 33 St,W 29 St & 9 Ave,-73.993934,40.751551,-73.998393,40.750073,2015-02-07 15:46:00+00,2015-02-07 10:36:00+00
46171,40745,NaN,NaN,0,NaN,18646,127,457,18656,Customer,Barrow St & Hudson St,Broadway & W 58 St,-74.006744,40.731724,-73.981693,40.766953,2015-02-07 15:51:00+00,2015-02-07 10:40:00+00
46172,8673,NaN,NaN,1,1955.0,19834,377,354,19341,Subscriber,6 Ave & Canal St,Emerson Pl & Myrtle Ave,-74.005664,40.722438,-73.962236,40.693631,2015-02-03 14:29:00+00,2015-02-03 09:07:00+00
46173,13739,NaN,NaN,1,1971.0,20984,500,318,19629,Subscriber,Broadway & W 51 St,E 43 St & Vanderbilt Ave,-73.983362,40.762288,-73.977987,40.753202,2015-02-04 13:41:00+00,2015-02-04 08:14:00+00
46174,14536,NaN,NaN,1,1996.0,18427,537,174,20515,Subscriber,Lexington Ave & E 24 St,E 25 St & 1 Ave,-73.984092,40.740259,-73.977387,40.738177,2015-02-04 14:53:00+00,2015-02-04 09:11:00+00
46175,8296,NaN,NaN,1,1990.0,18078,161,432,21189,Subscriber,LaGuardia Pl & W 3 St,E 7 St & Avenue A,-73.998102,40.729170,-73.983799,40.726218,2015-02-03 14:04:00+00,2015-02-03 08:11:00+00
46176,8247,NaN,NaN,1,1968.0,15508,284,247,21808,Subscriber,Greenwich Ave & 8 Ave,Perry St & Bleecker St,-74.002638,40.739017,-74.004831,40.735354,2015-02-03 14:03:00+00,2015-02-03 08:00:00+00
46177,9104,NaN,NaN,1,1977.0,15940,304,264,21891,Subscriber,Broadway & Battery Pl,Maiden Ln & Pearl St,-74.013617,40.704633,-74.007319,40.707065,2015-02-03 16:49:00+00,2015-02-03 10:44:00+00
46178,12712,NaN,NaN,1,1980.0,18713,294,303,22207,Subscriber,Washington Square E,Mercer St & Spring St,-73.995721,40.730494,-73.999496,40.723627,2015-02-04 08:24:00+00,2015-02-04 02:14:00+00
46179,30910,NaN,NaN,1,1992.0,19564,497,375,22235,Subscriber,E 17 St & Broadway,Mercer St & Bleecker St,-73.990093,40.737050,-73.996951,40.726795,2015-02-06 08:02:00+00,2015-02-06 01:51:00+00
46180,21860,NaN,NaN,1,1966.0,18799,336,519,22236,Subscriber,Sullivan St & Washington Sq,Pershing Square North,-73.999061,40.730477,-73.977706,40.751873,2015-02-05 12:08:00+00,2015-02-05 05:57:00+00
46181,11772,NaN,NaN,1,1985.0,15797,379,491,22553,Subscriber,W 31 St & 7 Ave,E 24 St & Park Ave S,-73.991600,40.749156,-73.986022,40.740964,2015-02-04 01:35:00+00,2015-02-03 19:19:00+00
46182,41251,NaN,NaN,2,1978.0,19539,527,167,23588,Subscriber,E 33 St & 2 Ave,E 39 St & 3 Ave,-73.976056,40.744023,-73.976049,40.748901,2015-02-07 18:27:00+00,2015-02-07 11:54:00+00
46183,39580,NaN,NaN,2,1990.0,16631,345,438,26035,Subscriber,W 13 St & 6 Ave,St Marks Pl & 1 Ave,-73.997044,40.736494,-73.985649,40.727791,2015-02-07 09:02:00+00,2015-02-07 01:49:00+00
46184,8918,NaN,NaN,1,1987.0,16808,529,514,26502,Subscriber,W 42 St & 8 Ave,12 Ave & W 40 St,-73.990985,40.757570,-74.002777,40.760875,2015-02-03 17:12:00+00,2015-02-03 09:50:00+00
46185,10422,NaN,NaN,1,1984.0,20336,356,402,30216,Subscriber,Bialystoker Pl & Delancey St,Broadway & E 22 St,-73.982612,40.716226,-73.989551,40.740343,2015-02-04 01:11:00+00,2015-02-03 16:48:00+00
46186,12669,NaN,NaN,1,1967.0,15195,347,505,30260,Subscriber,W Houston St & Hudson St,6 Ave & W 33 St,-74.007488,40.728739,-73.988484,40.749013,2015-02-04 08:37:00+00,2015-02-04 00:13:00+00
46187,7541,NaN,NaN,1,1984.0,19928,546,476,31063,Subscriber,E 30 St & Park Ave S,E 31 St & 3 Ave,-73.983035,40.744449,-73.979661,40.743943,2015-02-03 03:25:00+00,2015-02-02 18:47:00+00
46188,8453,NaN,NaN,1,1989.0,18146,519,312,31142,Subscriber,Pershing Square North,Allen St & E Houston St,-73.977706,40.751873,-73.989111,40.722055,2015-02-03 17:17:00+00,2015-02-03 08:38:00+00
46189,6608,NaN,NaN,2,1970.0,19651,263,291,31251,Subscriber,Elizabeth St & Hester St,Madison St & Montgomery St,-73.996375,40.717290,-73.984844,40.713126,2015-02-02 16:31:00+00,2015-02-02 07:51:00+00
46190,7981,NaN,NaN,2,1974.0,16802,488,497,31396,Subscriber,W 39 St & 9 Ave,E 17 St & Broadway,-73.993722,40.756458,-73.990093,40.737050,2015-02-03 15:03:00+00,2015-02-03 06:19:00+00
46191,12444,NaN,NaN,1,1982.0,14769,490,297,32634,Subscriber,8 Ave & W 33 St,E 15 St & 3 Ave,-73.993934,40.751551,-73.986923,40.734232,2015-02-04 07:04:00+00,2015-02-03 22:00:00+00
46192,20353,NaN,NaN,0,NaN,20703,372,83,33647,Customer,Franklin Ave & Myrtle Ave,Atlantic Ave & Fort Greene Pl,-73.958089,40.694528,-73.976323,40.683826,2015-02-05 05:12:00+00,2015-02-04 19:52:00+00
46193,3830,NaN,NaN,1,1967.0,18664,2009,494,35127,Subscriber,Catherine St & Monroe St,W 26 St & 8 Ave,-73.996826,40.711174,-73.997236,40.747348,2015-02-02 01:32:00+00,2015-02-01 15:47:00+00
46194,78,NaN,NaN,0,NaN,14691,525,453,35251,Customer,W 34 St & 11 Ave,W 22 St & 8 Ave,-74.002116,40.755942,-73.999154,40.744751,2015-02-01 10:40:00+00,2015-02-01 00:52:00+00
46195,6670,NaN,NaN,1,1977.0,20527,389,438,37665,Subscriber,Broadway & Berry St,St Marks Pl & 1 Ave,-73.965251,40.710446,-73.985649,40.727791,2015-02-02 18:57:00+00,2015-02-02 08:29:00+00
46196,39346,NaN,NaN,2,1966.0,17016,450,449,41908,Subscriber,W 49 St & 8 Ave,W 52 St & 9 Ave,-73.987882,40.762272,-73.987895,40.764618,2015-02-07 11:09:00+00,2015-02-06 23:31:00+00
46197,7702,NaN,NaN,1,1982.0,18425,387,195,42784,Subscriber,Centre St & Chambers St,Liberty St & Broadway,-74.004607,40.712733,-74.010434,40.709056,2015-02-03 08:00:00+00,2015-02-02 20:07:00+00
46198,46083,NaN,NaN,2,1951.0,19209,459,492,43013,Subscriber,W 20 St & 11 Ave,W 33 St & 7 Ave,-74.007756,40.746745,-73.990931,40.750200,2015-02-08 11:20:00+00,2015-02-07 23:23:00+00
46199,7816,NaN,NaN,1,1955.0,20263,250,263,43016,Subscriber,Lafayette St & Jersey St,Elizabeth St & Hester St,-73.995653,40.724561,-73.996375,40.717290,2015-02-03 09:57:00+00,2015-02-02 22:00:00+00

## get 10 shortest and longest trips

In [7]:
q3='''
SELECT * FROM citibike ORDER BY tripduration LIMIT 10
'''

In [8]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q3)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,13043,NaN,NaN,1,1971,14788,521,521,60,Subscriber,8 Ave & W 31 St,8 Ave & W 31 St,-73.994811,40.750450,-73.994811,40.750450,2015-02-04 06:55:00+00,2015-02-04 06:54:00+00
1,14117,NaN,NaN,1,1990,21644,296,296,60,Subscriber,Division St & Bowery,Division St & Bowery,-73.997047,40.714131,-73.997047,40.714131,2015-02-04 08:42:00+00,2015-02-04 08:41:00+00
2,8284,NaN,NaN,1,1982,19896,251,251,60,Subscriber,Mott St & Prince St,Mott St & Prince St,-73.994800,40.723180,-73.994800,40.723180,2015-02-03 08:08:00+00,2015-02-03 08:07:00+00
3,11104,NaN,NaN,1,1980,16340,471,471,60,Subscriber,Grand St & Havemeyer St,Grand St & Havemeyer St,-73.956981,40.712868,-73.956981,40.712868,2015-02-03 18:02:00+00,2015-02-03 18:01:00+00
4,3110,NaN,NaN,1,1985,20572,317,317,60,Subscriber,E 6 St & Avenue B,E 6 St & Avenue B,-73.981854,40.724537,-73.981854,40.724537,2015-02-01 14:35:00+00,2015-02-01 14:34:00+00
5,13482,NaN,NaN,2,1960,21627,512,512,60,Subscriber,W 29 St & 9 Ave,W 29 St & 9 Ave,-73.998393,40.750073,-73.998393,40.750073,2015-02-04 07:53:00+00,2015-02-04 07:52:00+00
6,7299,NaN,NaN,1,1956,20842,474,474,60,Subscriber,5 Ave & E 29 St,5 Ave & E 29 St,-73.986831,40.745168,-73.986831,40.745168,2015-02-02 17:15:00+00,2015-02-02 17:14:00+00
7,7798,NaN,NaN,1,1986,17643,379,379,60,Subscriber,W 31 St & 7 Ave,W 31 St & 7 Ave,-73.991600,40.749156,-73.991600,40.749156,2015-02-02 21:40:00+00,2015-02-02 21:39:00+00
8,21407,NaN,NaN,1,1980,16148,523,523,60,Subscriber,W 38 St & 8 Ave,W 38 St & 8 Ave,-73.991382,40.754666,-73.991382,40.754666,2015-02-04 22:39:00+00,2015-02-04 22:38:00+00
9,19243,NaN,NaN,1,1970,20309,248,248,60,Subscriber,Laight St & Hudson St,Laight St & Hudson St,-74.007718,40.721854,-74.007718,40.721854,2015-02-04 18:23:00+00,2015-02-04 18:22:00+00

In [9]:
q4='''
SELECT * FROM citibike ORDER BY tripduration DESC LIMIT 10
'''

In [10]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q4)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,7816,NaN,NaN,1,1955.0,20263,250,263,43016,Subscriber,Lafayette St & Jersey St,Elizabeth St & Hester St,-73.995653,40.724561,-73.996375,40.717290,2015-02-03 09:57:00+00,2015-02-02 22:00:00+00
1,46083,NaN,NaN,2,1951.0,19209,459,492,43013,Subscriber,W 20 St & 11 Ave,W 33 St & 7 Ave,-74.007756,40.746745,-73.990931,40.750200,2015-02-08 11:20:00+00,2015-02-07 23:23:00+00
2,7702,NaN,NaN,1,1982.0,18425,387,195,42784,Subscriber,Centre St & Chambers St,Liberty St & Broadway,-74.004607,40.712733,-74.010434,40.709056,2015-02-03 08:00:00+00,2015-02-02 20:07:00+00
3,39346,NaN,NaN,2,1966.0,17016,450,449,41908,Subscriber,W 49 St & 8 Ave,W 52 St & 9 Ave,-73.987882,40.762272,-73.987895,40.764618,2015-02-07 11:09:00+00,2015-02-06 23:31:00+00
4,6670,NaN,NaN,1,1977.0,20527,389,438,37665,Subscriber,Broadway & Berry St,St Marks Pl & 1 Ave,-73.965251,40.710446,-73.985649,40.727791,2015-02-02 18:57:00+00,2015-02-02 08:29:00+00
5,78,NaN,NaN,0,NaN,14691,525,453,35251,Customer,W 34 St & 11 Ave,W 22 St & 8 Ave,-74.002116,40.755942,-73.999154,40.744751,2015-02-01 10:40:00+00,2015-02-01 00:52:00+00
6,3830,NaN,NaN,1,1967.0,18664,2009,494,35127,Subscriber,Catherine St & Monroe St,W 26 St & 8 Ave,-73.996826,40.711174,-73.997236,40.747348,2015-02-02 01:32:00+00,2015-02-01 15:47:00+00
7,20353,NaN,NaN,0,NaN,20703,372,83,33647,Customer,Franklin Ave & Myrtle Ave,Atlantic Ave & Fort Greene Pl,-73.958089,40.694528,-73.976323,40.683826,2015-02-05 05:12:00+00,2015-02-04 19:52:00+00
8,12444,NaN,NaN,1,1982.0,14769,490,297,32634,Subscriber,8 Ave & W 33 St,E 15 St & 3 Ave,-73.993934,40.751551,-73.986923,40.734232,2015-02-04 07:04:00+00,2015-02-03 22:00:00+00
9,7981,NaN,NaN,2,1974.0,16802,488,497,31396,Subscriber,W 39 St & 9 Ave,E 17 St & Broadway,-73.993722,40.756458,-73.990093,40.737050,2015-02-03 15:03:00+00,2015-02-03 06:19:00+00

## get 10 longest trip records that are less than 3 hours

In [13]:
q5='''
SELECT * FROM citibike 
ORDER BY tripduration DESC 
LIMIT 10
'''

In [14]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q5)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,7816,NaN,NaN,1,1955.0,20263,250,263,43016,Subscriber,Lafayette St & Jersey St,Elizabeth St & Hester St,-73.995653,40.724561,-73.996375,40.717290,2015-02-03 09:57:00+00,2015-02-02 22:00:00+00
1,46083,NaN,NaN,2,1951.0,19209,459,492,43013,Subscriber,W 20 St & 11 Ave,W 33 St & 7 Ave,-74.007756,40.746745,-73.990931,40.750200,2015-02-08 11:20:00+00,2015-02-07 23:23:00+00
2,7702,NaN,NaN,1,1982.0,18425,387,195,42784,Subscriber,Centre St & Chambers St,Liberty St & Broadway,-74.004607,40.712733,-74.010434,40.709056,2015-02-03 08:00:00+00,2015-02-02 20:07:00+00
3,39346,NaN,NaN,2,1966.0,17016,450,449,41908,Subscriber,W 49 St & 8 Ave,W 52 St & 9 Ave,-73.987882,40.762272,-73.987895,40.764618,2015-02-07 11:09:00+00,2015-02-06 23:31:00+00
4,6670,NaN,NaN,1,1977.0,20527,389,438,37665,Subscriber,Broadway & Berry St,St Marks Pl & 1 Ave,-73.965251,40.710446,-73.985649,40.727791,2015-02-02 18:57:00+00,2015-02-02 08:29:00+00
5,78,NaN,NaN,0,NaN,14691,525,453,35251,Customer,W 34 St & 11 Ave,W 22 St & 8 Ave,-74.002116,40.755942,-73.999154,40.744751,2015-02-01 10:40:00+00,2015-02-01 00:52:00+00
6,3830,NaN,NaN,1,1967.0,18664,2009,494,35127,Subscriber,Catherine St & Monroe St,W 26 St & 8 Ave,-73.996826,40.711174,-73.997236,40.747348,2015-02-02 01:32:00+00,2015-02-01 15:47:00+00
7,20353,NaN,NaN,0,NaN,20703,372,83,33647,Customer,Franklin Ave & Myrtle Ave,Atlantic Ave & Fort Greene Pl,-73.958089,40.694528,-73.976323,40.683826,2015-02-05 05:12:00+00,2015-02-04 19:52:00+00
8,12444,NaN,NaN,1,1982.0,14769,490,297,32634,Subscriber,8 Ave & W 33 St,E 15 St & 3 Ave,-73.993934,40.751551,-73.986923,40.734232,2015-02-04 07:04:00+00,2015-02-03 22:00:00+00
9,7981,NaN,NaN,2,1974.0,16802,488,497,31396,Subscriber,W 39 St & 9 Ave,E 17 St & Broadway,-73.993722,40.756458,-73.990093,40.737050,2015-02-03 15:03:00+00,2015-02-03 06:19:00+00

## list all unique start station id

In [15]:
q6 = '''
SELECT 
DISTINCT start_station_id 
FROM citibike
'''

In [16]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q6)), sep=',')

     start_station_id  Unnamed: 1
0                 195         NaN
1                 251         NaN
2                 285         NaN
3                 120         NaN
4                 483         NaN
5                 264         NaN
6                 497         NaN
7                 305         NaN
8                 318         NaN
9                 312         NaN
10                496         NaN
11                455         NaN
12                470         NaN
13                276         NaN
14               2008         NaN
15                313         NaN
16                262         NaN
17                362         NaN
18                151         NaN
19                384         NaN
20                119         NaN
21                399         NaN
22                356         NaN
23                270         NaN
24                437         NaN
25                514         NaN
26                518         NaN
27                329         NaN
28                268         NaN
29                531         NaN
..                ...         ...
297               420         NaN
298               443         NaN
299               490         NaN
300               492         NaN
301               416         NaN
302               331         NaN
303               232         NaN
304               427         NaN
305               377         NaN
306               445         NaN
307               411         NaN
308               260         NaN
309               403         NaN
310               494         NaN
311               244         NaN
312               128         NaN
313               223         NaN
314               456         NaN
315               300         NaN
316               217         NaN
317               538         NaN
318               383         NaN
319               212         NaN
320               353         NaN
321               328         NaN
322               216         NaN
323               263         NaN
324               266         NaN
325               144         NaN
326               453         NaN

[327 rows x 2 columns]

# Task 2

## selecting trips starting with Feb 2 2015

In [17]:
q6 = '''
SELECT * FROM citibike
WHERE starttime >= '2015-02-02 00:00' AND starttime < '2015-02-03 00:00'
'''

In [18]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q6)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,6442,NaN,NaN,1,1992.0,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
1,6443,NaN,NaN,2,1964.0,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
2,6444,NaN,NaN,1,1974.0,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
3,6445,NaN,NaN,2,1992.0,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
4,6446,NaN,NaN,1,1968.0,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
5,6447,NaN,NaN,1,1979.0,16370,391,467,622,Subscriber,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
6,6448,NaN,NaN,1,1963.0,19437,482,434,371,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
7,6449,NaN,NaN,1,1982.0,21211,2008,330,477,Subscriber,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
8,6450,NaN,NaN,2,1978.0,21417,423,521,743,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
9,6451,NaN,NaN,1,1956.0,15722,453,504,599,Subscriber,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00
10,6452,NaN,NaN,1,1962.0,18972,236,285,345,Subscriber,St Marks Pl & 2 Ave,Broadway & E 14 St,-73.987140,40.728419,-73.990741,40.734546,2015-02-02 00:18:00+00,2015-02-02 00:12:00+00
11,6453,NaN,NaN,1,1980.0,19628,476,301,721,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-02 00:25:00+00,2015-02-02 00:13:00+00
12,6454,NaN,NaN,1,1978.0,15169,376,279,182,Subscriber,John St & William St,Peck Slip & Front St,-74.007222,40.708621,-74.001670,40.707873,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
13,6455,NaN,NaN,1,1997.0,17533,411,342,154,Subscriber,E 6 St & Avenue D,Columbia St & Rivington St,-73.976687,40.722281,-73.980166,40.717400,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
14,6456,NaN,NaN,1,1983.0,19761,491,470,435,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-02 00:21:00+00,2015-02-02 00:14:00+00
15,6457,NaN,NaN,1,1993.0,17267,393,236,310,Subscriber,E 5 St & Avenue C,St Marks Pl & 2 Ave,-73.979955,40.722992,-73.987140,40.728419,2015-02-02 00:20:00+00,2015-02-02 00:15:00+00
16,6458,NaN,NaN,1,1964.0,18691,470,470,1274,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-02 00:37:00+00,2015-02-02 00:16:00+00
17,6459,NaN,NaN,1,1977.0,17106,174,485,642,Subscriber,E 25 St & 1 Ave,W 37 St & 5 Ave,-73.977387,40.738177,-73.983390,40.750380,2015-02-02 00:29:00+00,2015-02-02 00:18:00+00
18,6460,NaN,NaN,1,1973.0,20009,483,345,256,Subscriber,E 12 St & 3 Ave,W 13 St & 6 Ave,-73.988900,40.732233,-73.997044,40.736494,2015-02-02 00:22:00+00,2015-02-02 00:18:00+00
19,6461,NaN,NaN,1,1979.0,18777,442,489,334,Subscriber,W 27 St & 7 Ave,10 Ave & W 28 St,-73.993915,40.746647,-74.001768,40.750664,2015-02-02 00:25:00+00,2015-02-02 00:19:00+00
20,6462,NaN,NaN,1,1989.0,15357,174,507,90,Subscriber,E 25 St & 1 Ave,E 25 St & 2 Ave,-73.977387,40.738177,-73.979738,40.739126,2015-02-02 00:20:00+00,2015-02-02 00:19:00+00
21,6463,NaN,NaN,1,1983.0,18487,405,380,203,Subscriber,Washington St & Gansevoort St,W 4 St & 7 Ave S,-74.008119,40.739323,-74.002939,40.734011,2015-02-02 00:23:00+00,2015-02-02 00:20:00+00
22,6464,NaN,NaN,1,1981.0,20863,439,334,649,Subscriber,E 4 St & 2 Ave,W 20 St & 7 Ave,-73.989780,40.726281,-73.997262,40.742388,2015-02-02 00:32:00+00,2015-02-02 00:22:00+00
23,6465,NaN,NaN,1,1970.0,16539,448,508,319,Subscriber,W 37 St & 10 Ave,W 46 St & 11 Ave,-73.997901,40.756604,-73.996674,40.763414,2015-02-02 00:29:00+00,2015-02-02 00:23:00+00
24,6466,NaN,NaN,1,1961.0,18737,301,428,154,Subscriber,E 2 St & Avenue B,E 3 St & 1 Ave,-73.983688,40.722174,-73.987834,40.724677,2015-02-02 00:30:00+00,2015-02-02 00:27:00+00
25,6467,NaN,NaN,2,1980.0,17797,195,331,550,Subscriber,Liberty St & Broadway,Pike St & Monroe St,-74.010434,40.709056,-73.991930,40.711731,2015-02-02 00:37:00+00,2015-02-02 00:28:00+00
26,6468,NaN,NaN,1,1990.0,20638,478,529,268,Subscriber,11 Ave & W 41 St,W 42 St & 8 Ave,-73.998842,40.760301,-73.990985,40.757570,2015-02-02 00:34:00+00,2015-02-02 00:29:00+00
27,6469,NaN,NaN,1,1989.0,17636,366,421,153,Subscriber,Clinton Ave & Myrtle Ave,Clermont Ave & Park Ave,-73.968896,40.693261,-73.971297,40.695734,2015-02-02 00:31:00+00,2015-02-02 00:29:00+00
28,6470,NaN,NaN,1,1982.0,18472,494,284,309,Subscriber,W 26 St & 8 Ave,Greenwich Ave & 8 Ave,-73.997236,40.747348,-74.002638,40.739017,2015-02-02 00:36:00+00,2015-02-02 00:31:00+00
29,6471,NaN,NaN,1,1968.0,17456,252,383,138,Subscriber,MacDougal St & Washington Sq,Greenwich Ave & Charles St,-73.998522,40.732264,-74.000271,40.735238,2015-02-02 00:35:00+00,2015-02-02 00:33:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,7871,NaN,NaN,1,1985.0,20572,380,312,722,Subscriber,W 4 St & 7 Ave S,Allen St & E Houston St,-74.002939,40.734011,-73.989111,40.722055,2015-02-02 23:20:00+00,2015-02-02 23:08:00+00
1430,7872,NaN,NaN,1,1981.0,20338,491,486,274,Subscriber,E 24 St & Park Ave S,Broadway & W 29 St,-73.986022,40.740964,-73.988557,40.746201,2015-02-02 23:12:00+00,2015-02-02 23:08:00+00
1431,7873,NaN,NaN,1,1978.0,15826,515,352,951,Subscriber,W 43 St & 10 Ave,W 56 St & 6 Ave,-73.994618,40.760094,-73.977225,40.763406,2015-02-02 23:27:00+00,2015-02-02 23:11:00+00
1432,7874,NaN,NaN,1,1990.0,18325,521,489,276,Subscriber,8 Ave & W 31 St,10 Ave & W 28 St,-73.994811,40.750450,-74.001768,40.750664,2015-02-02 23:20:00+00,2015-02-02 23:16:00+00
1433,7875,NaN,NaN,1,1977.0,16654,434,494,426,Subscriber,9 Ave & W 18 St,W 26 St & 8 Ave,-74.003664,40.743174,-73.997236,40.747348,2015-02-02 23:24:00+00,2015-02-02 23:17:00+00
1434,7876,NaN,NaN,1,1966.0,20902,229,402,578,Subscriber,Great Jones St,Broadway & E 22 St,-73.993790,40.727434,-73.989551,40.740343,2015-02-02 23:28:00+00,2015-02-02 23:19:00+00
1435,7877,NaN,NaN,1,1954.0,20796,2017,164,2621,Subscriber,E 43 St & 2 Ave,E 47 St & 2 Ave,-73.971214,40.750224,-73.970325,40.753231,2015-02-03 00:06:00+00,2015-02-02 23:22:00+00
1436,7878,NaN,NaN,1,1989.0,20160,449,498,621,Subscriber,W 52 St & 9 Ave,Broadway & W 32 St,-73.987895,40.764618,-73.988084,40.748549,2015-02-02 23:32:00+00,2015-02-02 23:22:00+00
1437,7879,NaN,NaN,1,1974.0,17392,477,521,323,Subscriber,W 41 St & 8 Ave,8 Ave & W 31 St,-73.990026,40.756405,-73.994811,40.750450,2015-02-02 23:29:00+00,2015-02-02 23:23:00+00
1438,7880,NaN,NaN,1,1963.0,17263,482,434,393,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 23:31:00+00,2015-02-02 23:24:00+00
1439,7881,NaN,NaN,1,1955.0,19858,497,161,597,Subscriber,E 17 St & Broadway,LaGuardia Pl & W 3 St,-73.990093,40.737050,-73.998102,40.729170,2015-02-02 23:35:00+00,2015-02-02 23:25:00+00
1440,7882,NaN,NaN,1,1979.0,20319,462,494,244,Subscriber,W 22 St & 10 Ave,W 26 St & 8 Ave,-74.004519,40.746920,-73.997236,40.747348,2015-02-02 23:30:00+00,2015-02-02 23:25:00+00
1441,7883,NaN,NaN,1,1977.0,21600,127,306,1023,Subscriber,Barrow St & Hudson St,Cliff St & Fulton St,-74.006744,40.731724,-74.005301,40.708235,2015-02-02 23:43:00+00,2015-02-02 23:26:00+00
1442,7884,NaN,NaN,1,1986.0,18791,473,349,419,Subscriber,Rivington St & Chrystie St,Rivington St & Ridge St,-73.991925,40.721101,-73.983299,40.718502,2015-02-02 23:38:00+00,2015-02-02 23:31:00+00
1443,7885,NaN,NaN,1,1966.0,17730,358,450,1429,Subscriber,Christopher St & Greenwich St,W 49 St & 8 Ave,-74.007114,40.732916,-73.987882,40.762272,2015-02-02 23:55:00+00,2015-02-02 23:32:00+00
1444,7886,NaN,NaN,1,1980.0,18147,477,519,676,Subscriber,W 41 St & 8 Ave,Pershing Square North,-73.990026,40.756405,-73.977706,40.751873,2015-02-02 23:44:00+00,2015-02-02 23:32:00+00
1445,7887,NaN,NaN,1,1959.0,20249,489,546,879,Subscriber,10 Ave & W 28 St,E 30 St & Park Ave S,-74.001768,40.750664,-73.983035,40.744449,2015-02-02 23:48:00+00,2015-02-02 23:33:00+00
1446,7888,NaN,NaN,1,1988.0,18078,432,336,593,Subscriber,E 7 St & Avenue A,Sullivan St & Washington Sq,-73.983799,40.726218,-73.999061,40.730477,2015-02-02 23:45:00+00,2015-02-02 23:35:00+00
1447,7889,NaN,NaN,1,1983.0,16808,164,529,839,Subscriber,E 47 St & 2 Ave,W 42 St & 8 Ave,-73.970325,40.753231,-73.990985,40.757570,2015-02-02 23:50:00+00,2015-02-02 23:36:00+00
1448,7890,NaN,NaN,1,1986.0,21355,368,402,560,Subscriber,Carmine St & 6 Ave,Broadway & E 22 St,-74.002150,40.730386,-73.989551,40.740343,2015-02-02 23:46:00+00,2015-02-02 23:37:00+00
1449,7891,NaN,NaN,1,1994.0,15359,511,504,165,Subscriber,E 14 St & Avenue B,1 Ave & E 15 St,-73.977724,40.729387,-73.981656,40.732219,2015-02-02 23:40:00+00,2015-02-02 23:37:00+00
1450,7892,NaN,NaN,2,1982.0,18250,489,505,813,Subscriber,10 Ave & W 28 St,6 Ave & W 33 St,-74.001768,40.750664,-73.988484,40.749013,2015-02-02 23:56:00+00,2015-02-02 23:42:00+00
1451,7893,NaN,NaN,1,1987.0,16969,507,509,764,Subscriber,E 25 St & 2 Ave,9 Ave & W 22 St,-73.979738,40.739126,-74.001971,40.745497,2015-02-02 23:55:00+00,2015-02-02 23:42:00+00
1452,7894,NaN,NaN,1,1979.0,18825,397,496,2111,Subscriber,Fulton St & Clermont Ave,E 16 St & 5 Ave,-73.969223,40.684157,-73.992390,40.737262,2015-02-03 00:18:00+00,2015-02-02 23:43:00+00
1453,7895,NaN,NaN,1,1983.0,19000,439,280,518,Subscriber,E 4 St & 2 Ave,E 10 St & 5 Ave,-73.989780,40.726281,-73.995101,40.733320,2015-02-02 23:52:00+00,2015-02-02 23:43:00+00
1454,7896,NaN,NaN,1,1977.0,20723,440,484,371,Subscriber,E 45 St & 3 Ave,W 44 St & 5 Ave,-73.972826,40.752554,-73.980144,40.755003,2015-02-02 23:52:00+00,2015-02-02 23:45:00+00
1455,7897,NaN,NaN,1,1988.0,16528,417,224,188,Subscriber,Barclay St & Church St,Spruce St & Nassau St,-74.010202,40.712912,-74.005524,40.711464,2015-02-02 23:50:00+00,2015-02-02 23:47:00+00
1456,7898,NaN,NaN,1,1988.0,16541,394,345,689,Subscriber,E 9 St & Avenue C,W 13 St & 6 Ave,-73.977688,40.725213,-73.997044,40.736494,2015-02-03 00:02:00+00,2015-02-02 23:50:00+00
1457,7899,NaN,NaN,1,1961.0,14878,537,453,634,Subscriber,Lexington Ave & E 24 St,W 22 St & 8 Ave,-73.984092,40.740259,-73.999154,40.744751,2015-02-03 00:05:00+00,2015-02-02 23:55:00+00
1458,7900,NaN,NaN,2,1976.0,16326,302,285,733,Subscriber,Avenue D & E 3 St,Broadway & E 14 St,-73.977932,40.720828,-73.990741,40.734546,2015-02-03 00:10:00+00,2015-02-02 23:58:00+00

## trip started on weekend

In [19]:
q7 = '''
SELECT * FROM citibike
WHERE extract(DOW FROM starttime) IN (0,6)
'''

In [20]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q7)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965.0,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,1,NaN,NaN,2,1978.0,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
2,2,NaN,NaN,1,1993.0,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
3,3,NaN,NaN,2,1969.0,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
4,4,NaN,NaN,2,1985.0,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
5,5,NaN,NaN,1,1957.0,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
6,6,NaN,NaN,1,1979.0,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
7,7,NaN,NaN,1,1983.0,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
8,8,NaN,NaN,1,1955.0,17862,116,439,913,Subscriber,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
9,9,NaN,NaN,2,1985.0,21183,2012,335,759,Subscriber,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00
10,10,NaN,NaN,1,1982.0,14843,444,284,585,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
11,11,NaN,NaN,2,1988.0,16936,444,284,581,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
12,12,NaN,NaN,2,1991.0,21507,472,498,204,Subscriber,E 32 St & Park Ave,Broadway & W 32 St,-73.981948,40.745712,-73.988084,40.748549,2015-02-01 00:08:00+00,2015-02-01 00:05:00+00
13,13,NaN,NaN,2,1982.0,17456,307,368,1169,Subscriber,Canal St & Rutgers St,Carmine St & 6 Ave,-73.989900,40.714275,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:07:00+00
14,14,NaN,NaN,2,1990.0,14679,2012,326,419,Subscriber,E 27 St & 1 Ave,E 11 St & 1 Ave,-73.976806,40.739445,-73.984267,40.729538,2015-02-01 00:14:00+00,2015-02-01 00:07:00+00
15,15,NaN,NaN,1,1977.0,18978,212,285,527,Subscriber,W 16 St & The High Line,Broadway & E 14 St,-74.006818,40.743349,-73.990741,40.734546,2015-02-01 00:17:00+00,2015-02-01 00:09:00+00
16,16,NaN,NaN,1,1968.0,16496,488,368,1013,Subscriber,W 39 St & 9 Ave,Carmine St & 6 Ave,-73.993722,40.756458,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:10:00+00
17,17,NaN,NaN,1,1990.0,17107,331,394,587,Subscriber,Pike St & Monroe St,E 9 St & Avenue C,-73.991930,40.711731,-73.977688,40.725213,2015-02-01 00:23:00+00,2015-02-01 00:13:00+00
18,18,NaN,NaN,1,1987.0,16984,507,326,525,Subscriber,E 25 St & 2 Ave,E 11 St & 1 Ave,-73.979738,40.739126,-73.984267,40.729538,2015-02-01 00:22:00+00,2015-02-01 00:13:00+00
19,19,NaN,NaN,1,1980.0,15997,305,493,670,Subscriber,E 58 St & 3 Ave,W 45 St & 6 Ave,-73.967245,40.760958,-73.982912,40.756800,2015-02-01 00:26:00+00,2015-02-01 00:14:00+00
20,20,NaN,NaN,1,1960.0,21516,223,445,711,Subscriber,W 13 St & 7 Ave,E 10 St & Avenue A,-73.999947,40.737815,-73.981420,40.727408,2015-02-01 00:27:00+00,2015-02-01 00:15:00+00
21,21,NaN,NaN,1,1986.0,15815,457,428,1559,Subscriber,Broadway & W 58 St,E 3 St & 1 Ave,-73.981693,40.766953,-73.987834,40.724677,2015-02-01 00:42:00+00,2015-02-01 00:16:00+00
22,22,NaN,NaN,1,1987.0,18727,477,228,683,Subscriber,W 41 St & 8 Ave,E 48 St & 3 Ave,-73.990026,40.756405,-73.971879,40.754601,2015-02-01 00:27:00+00,2015-02-01 00:16:00+00
23,23,NaN,NaN,1,1969.0,14982,488,513,522,Subscriber,W 39 St & 9 Ave,W 56 St & 10 Ave,-73.993722,40.756458,-73.988639,40.768254,2015-02-01 00:24:00+00,2015-02-01 00:16:00+00
24,24,NaN,NaN,1,1957.0,16391,518,507,389,Subscriber,E 39 St & 2 Ave,E 25 St & 2 Ave,-73.973442,40.747804,-73.979738,40.739126,2015-02-01 00:23:00+00,2015-02-01 00:16:00+00
25,25,NaN,NaN,1,1981.0,15947,473,439,276,Subscriber,Rivington St & Chrystie St,E 4 St & 2 Ave,-73.991925,40.721101,-73.989780,40.726281,2015-02-01 00:21:00+00,2015-02-01 00:16:00+00
26,26,NaN,NaN,1,1993.0,16917,531,128,907,Subscriber,Forsyth St & Broome St,MacDougal St & Prince St,-73.992663,40.718939,-74.002971,40.727103,2015-02-01 00:32:00+00,2015-02-01 00:17:00+00
27,27,NaN,NaN,1,1975.0,15924,528,490,946,Subscriber,2 Ave & E 31 St,8 Ave & W 33 St,-73.977061,40.742909,-73.993934,40.751551,2015-02-01 00:33:00+00,2015-02-01 00:18:00+00
28,28,NaN,NaN,1,1973.0,21321,502,350,144,Subscriber,Henry St & Grand St,Clinton St & Grand St,-73.981346,40.714215,-73.987030,40.715595,2015-02-01 00:21:00+00,2015-02-01 00:18:00+00
29,29,NaN,NaN,2,1973.0,16861,401,250,257,Subscriber,Allen St & Rivington St,Lafayette St & Jersey St,-73.989978,40.720196,-73.995653,40.724561,2015-02-01 00:23:00+00,2015-02-01 00:19:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,46171,NaN,NaN,1,1988.0,15733,435,335,812,Subscriber,W 21 St & 6 Ave,Washington Pl & Broadway,-73.994156,40.741740,-73.994046,40.729039,2015-02-08 00:05:00+00,2015-02-07 23:51:00+00
13202,46172,NaN,NaN,1,1995.0,16931,504,361,647,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:51:00+00
13203,46173,NaN,NaN,1,1987.0,17202,401,152,563,Subscriber,Allen St & Rivington St,Warren St & Church St,-73.989978,40.720196,-74.009106,40.714740,2015-02-08 00:00:00+00,2015-02-07 23:51:00+00
13204,46174,NaN,NaN,2,1989.0,20314,439,483,470,Subscriber,E 4 St & 2 Ave,E 12 St & 3 Ave,-73.989780,40.726281,-73.988900,40.732233,2015-02-07 23:59:00+00,2015-02-07 23:51:00+00
13205,46175,NaN,NaN,1,1989.0,21531,395,467,299,Subscriber,Bond St & Schermerhorn St,Dean St & 4 Ave,-73.984106,40.688070,-73.978951,40.683125,2015-02-07 23:56:00+00,2015-02-07 23:51:00+00
13206,46176,NaN,NaN,1,1968.0,21491,504,361,629,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:52:00+00
13207,46177,NaN,NaN,1,1990.0,15367,380,402,499,Subscriber,W 4 St & 7 Ave S,Broadway & E 22 St,-74.002939,40.734011,-73.989551,40.740343,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
13208,46178,NaN,NaN,2,1973.0,18978,368,369,474,Subscriber,Carmine St & 6 Ave,Washington Pl & 6 Ave,-74.002150,40.730386,-74.000264,40.732241,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
13209,46179,NaN,NaN,1,1980.0,19507,504,476,345,Subscriber,1 Ave & E 15 St,E 31 St & 3 Ave,-73.981656,40.732219,-73.979661,40.743943,2015-02-07 23:58:00+00,2015-02-07 23:52:00+00
13210,46180,NaN,NaN,1,1980.0,16936,160,499,829,Subscriber,E 37 St & Lexington Ave,Broadway & W 60 St,-73.978311,40.748238,-73.981918,40.769155,2015-02-08 00:07:00+00,2015-02-07 23:53:00+00
13211,46181,NaN,NaN,1,1982.0,18689,531,368,776,Subscriber,Forsyth St & Broome St,Carmine St & 6 Ave,-73.992663,40.718939,-74.002150,40.730386,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
13212,46182,NaN,NaN,1,1972.0,15781,478,520,697,Subscriber,11 Ave & W 41 St,W 52 St & 5 Ave,-73.998842,40.760301,-73.976485,40.759923,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
13213,46183,NaN,NaN,1,1988.0,15081,471,467,1703,Subscriber,Grand St & Havemeyer St,Dean St & 4 Ave,-73.956981,40.712868,-73.978951,40.683125,2015-02-08 00:23:00+00,2015-02-07 23:54:00+00
13214,46184,NaN,NaN,1,1983.0,21672,247,479,922,Subscriber,Perry St & Bleecker St,9 Ave & W 45 St,-74.004831,40.735354,-73.991255,40.760193,2015-02-08 00:10:00+00,2015-02-07 23:54:00+00
13215,46185,NaN,NaN,1,1970.0,16336,488,457,849,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
13216,46186,NaN,NaN,1,1973.0,21609,488,457,826,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
13217,46187,NaN,NaN,1,1964.0,19470,3002,328,473,Subscriber,South End Ave & Liberty St,Watts St & Greenwich St,-74.015756,40.711512,-74.009660,40.724055,2015-02-08 00:02:00+00,2015-02-07 23:54:00+00
13218,46188,NaN,NaN,1,1960.0,18167,450,510,332,Subscriber,W 49 St & 8 Ave,W 51 St & 6 Ave,-73.987882,40.762272,-73.980420,40.760660,2015-02-07 23:59:00+00,2015-02-07 23:54:00+00
13219,46189,NaN,NaN,1,1987.0,15929,404,382,456,Subscriber,9 Ave & W 14 St,University Pl & E 14 St,-74.005509,40.740583,-73.992005,40.734927,2015-02-08 00:03:00+00,2015-02-07 23:55:00+00
13220,46190,NaN,NaN,1,1983.0,17541,466,254,327,Subscriber,W 25 St & 6 Ave,W 11 St & 6 Ave,-73.991449,40.743954,-73.998004,40.735324,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
13221,46191,NaN,NaN,2,1983.0,14736,494,116,306,Subscriber,W 26 St & 8 Ave,W 17 St & 8 Ave,-73.997236,40.747348,-74.001497,40.741776,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
13222,46192,NaN,NaN,1,1984.0,16300,432,495,1248,Subscriber,E 7 St & Avenue A,W 47 St & 10 Ave,-73.983799,40.726218,-73.993012,40.762699,2015-02-08 00:17:00+00,2015-02-07 23:56:00+00
13223,46193,NaN,NaN,1,1959.0,16978,325,152,1165,Subscriber,E 19 St & 3 Ave,Warren St & Church St,-73.984738,40.736245,-74.009106,40.714740,2015-02-08 00:15:00+00,2015-02-07 23:56:00+00
13224,46194,NaN,NaN,1,1974.0,16722,295,461,993,Subscriber,Pike St & E Broadway,E 20 St & 2 Ave,-73.992939,40.714067,-73.982050,40.735877,2015-02-08 00:13:00+00,2015-02-07 23:56:00+00
13225,46195,NaN,NaN,2,1960.0,20184,265,455,1422,Subscriber,Stanton St & Chrystie St,1 Ave & E 44 St,-73.991475,40.722293,-73.969053,40.750020,2015-02-08 00:20:00+00,2015-02-07 23:57:00+00
13226,46196,NaN,NaN,1,1953.0,15585,325,470,689,Subscriber,E 19 St & 3 Ave,W 20 St & 8 Ave,-73.984738,40.736245,-74.000040,40.743453,2015-02-08 00:08:00+00,2015-02-07 23:57:00+00
13227,46197,NaN,NaN,2,1986.0,16395,325,474,428,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:04:00+00,2015-02-07 23:57:00+00
13228,46198,NaN,NaN,1,1986.0,15545,325,474,392,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:03:00+00,2015-02-07 23:57:00+00
13229,46199,NaN,NaN,2,1983.0,19540,334,368,548,Subscriber,W 20 St & 7 Ave,Carmine St & 6 Ave,-73.997262,40.742388,-74.002150,40.730386,2015-02-08 00:08:00+00,2015-02-07 23:58:00+00
13230,46200,NaN,NaN,2,1965.0,20998,417,439,917,Subscriber,Barclay St & Church St,E 4 St & 2 Ave,-74.010202,40.712912,-73.989780,40.726281,2015-02-08 00:15:00+00,2015-02-07 23:59:00+00

## trip started on a weekday

In [21]:
q8 ='''
SELECT * FROM citibike
WHERE extract(DOW FROM starttime) NOT IN (0,6)
'''

In [22]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q8)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,9806,NaN,NaN,1,1971.0,17575,488,167,643,Subscriber,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
1,13113,NaN,NaN,1,1973.0,20313,440,332,1379,Subscriber,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
2,6442,NaN,NaN,1,1992.0,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
3,6443,NaN,NaN,2,1964.0,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
4,6444,NaN,NaN,1,1974.0,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
5,6445,NaN,NaN,2,1992.0,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
6,6446,NaN,NaN,1,1968.0,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
7,6447,NaN,NaN,1,1979.0,16370,391,467,622,Subscriber,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
8,6448,NaN,NaN,1,1963.0,19437,482,434,371,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
9,6449,NaN,NaN,1,1982.0,21211,2008,330,477,Subscriber,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
10,6450,NaN,NaN,2,1978.0,21417,423,521,743,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
11,6451,NaN,NaN,1,1956.0,15722,453,504,599,Subscriber,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00
12,6452,NaN,NaN,1,1962.0,18972,236,285,345,Subscriber,St Marks Pl & 2 Ave,Broadway & E 14 St,-73.987140,40.728419,-73.990741,40.734546,2015-02-02 00:18:00+00,2015-02-02 00:12:00+00
13,6453,NaN,NaN,1,1980.0,19628,476,301,721,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-02 00:25:00+00,2015-02-02 00:13:00+00
14,6454,NaN,NaN,1,1978.0,15169,376,279,182,Subscriber,John St & William St,Peck Slip & Front St,-74.007222,40.708621,-74.001670,40.707873,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
15,6455,NaN,NaN,1,1997.0,17533,411,342,154,Subscriber,E 6 St & Avenue D,Columbia St & Rivington St,-73.976687,40.722281,-73.980166,40.717400,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
16,6456,NaN,NaN,1,1983.0,19761,491,470,435,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-02 00:21:00+00,2015-02-02 00:14:00+00
17,6457,NaN,NaN,1,1993.0,17267,393,236,310,Subscriber,E 5 St & Avenue C,St Marks Pl & 2 Ave,-73.979955,40.722992,-73.987140,40.728419,2015-02-02 00:20:00+00,2015-02-02 00:15:00+00
18,6458,NaN,NaN,1,1964.0,18691,470,470,1274,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-02 00:37:00+00,2015-02-02 00:16:00+00
19,6459,NaN,NaN,1,1977.0,17106,174,485,642,Subscriber,E 25 St & 1 Ave,W 37 St & 5 Ave,-73.977387,40.738177,-73.983390,40.750380,2015-02-02 00:29:00+00,2015-02-02 00:18:00+00
20,6460,NaN,NaN,1,1973.0,20009,483,345,256,Subscriber,E 12 St & 3 Ave,W 13 St & 6 Ave,-73.988900,40.732233,-73.997044,40.736494,2015-02-02 00:22:00+00,2015-02-02 00:18:00+00
21,6461,NaN,NaN,1,1979.0,18777,442,489,334,Subscriber,W 27 St & 7 Ave,10 Ave & W 28 St,-73.993915,40.746647,-74.001768,40.750664,2015-02-02 00:25:00+00,2015-02-02 00:19:00+00
22,6462,NaN,NaN,1,1989.0,15357,174,507,90,Subscriber,E 25 St & 1 Ave,E 25 St & 2 Ave,-73.977387,40.738177,-73.979738,40.739126,2015-02-02 00:20:00+00,2015-02-02 00:19:00+00
23,6463,NaN,NaN,1,1983.0,18487,405,380,203,Subscriber,Washington St & Gansevoort St,W 4 St & 7 Ave S,-74.008119,40.739323,-74.002939,40.734011,2015-02-02 00:23:00+00,2015-02-02 00:20:00+00
24,6464,NaN,NaN,1,1981.0,20863,439,334,649,Subscriber,E 4 St & 2 Ave,W 20 St & 7 Ave,-73.989780,40.726281,-73.997262,40.742388,2015-02-02 00:32:00+00,2015-02-02 00:22:00+00
25,6465,NaN,NaN,1,1970.0,16539,448,508,319,Subscriber,W 37 St & 10 Ave,W 46 St & 11 Ave,-73.997901,40.756604,-73.996674,40.763414,2015-02-02 00:29:00+00,2015-02-02 00:23:00+00
26,6466,NaN,NaN,1,1961.0,18737,301,428,154,Subscriber,E 2 St & Avenue B,E 3 St & 1 Ave,-73.983688,40.722174,-73.987834,40.724677,2015-02-02 00:30:00+00,2015-02-02 00:27:00+00
27,6467,NaN,NaN,2,1980.0,17797,195,331,550,Subscriber,Liberty St & Broadway,Pike St & Monroe St,-74.010434,40.709056,-73.991930,40.711731,2015-02-02 00:37:00+00,2015-02-02 00:28:00+00
28,6468,NaN,NaN,1,1990.0,20638,478,529,268,Subscriber,11 Ave & W 41 St,W 42 St & 8 Ave,-73.998842,40.760301,-73.990985,40.757570,2015-02-02 00:34:00+00,2015-02-02 00:29:00+00
29,6469,NaN,NaN,1,1989.0,17636,366,421,153,Subscriber,Clinton Ave & Myrtle Ave,Clermont Ave & Park Ave,-73.968896,40.693261,-73.971297,40.695734,2015-02-02 00:31:00+00,2015-02-02 00:29:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32939,39381,NaN,NaN,1,1957.0,18249,492,465,321,Subscriber,W 33 St & 7 Ave,Broadway & W 41 St,-73.990931,40.750200,-73.986580,40.755136,2015-02-06 23:52:00+00,2015-02-06 23:47:00+00
32940,39382,NaN,NaN,2,1972.0,19146,318,523,449,Subscriber,E 43 St & Vanderbilt Ave,W 38 St & 8 Ave,-73.977987,40.753202,-73.991382,40.754666,2015-02-06 23:55:00+00,2015-02-06 23:48:00+00
32941,39383,NaN,NaN,1,1984.0,15313,434,509,120,Subscriber,9 Ave & W 18 St,9 Ave & W 22 St,-74.003664,40.743174,-74.001971,40.745497,2015-02-06 23:50:00+00,2015-02-06 23:48:00+00
32942,39384,NaN,NaN,1,1979.0,18469,2002,274,977,Subscriber,Wythe Ave & Metropolitan Ave,Lafayette Ave & Fort Greene Pl,-73.963198,40.716887,-73.976682,40.686919,2015-02-07 00:05:00+00,2015-02-06 23:49:00+00
32943,39385,NaN,NaN,1,1966.0,18929,403,402,501,Subscriber,E 2 St & 2 Ave,Broadway & E 22 St,-73.990697,40.725029,-73.989551,40.740343,2015-02-06 23:57:00+00,2015-02-06 23:49:00+00
32944,39386,NaN,NaN,1,1987.0,19009,402,545,441,Subscriber,Broadway & E 22 St,E 23 St & 1 Ave,-73.989551,40.740343,-73.978095,40.736502,2015-02-06 23:58:00+00,2015-02-06 23:50:00+00
32945,39387,NaN,NaN,1,1984.0,17102,438,325,388,Subscriber,St Marks Pl & 1 Ave,E 19 St & 3 Ave,-73.985649,40.727791,-73.984738,40.736245,2015-02-06 23:57:00+00,2015-02-06 23:50:00+00
32946,39388,NaN,NaN,2,1972.0,18686,266,293,607,Subscriber,Avenue D & E 8 St,Lafayette St & E 8 St,-73.975748,40.723684,-73.990765,40.730287,2015-02-07 00:01:00+00,2015-02-06 23:51:00+00
32947,39389,NaN,NaN,1,1989.0,15377,472,402,284,Subscriber,E 32 St & Park Ave,Broadway & E 22 St,-73.981948,40.745712,-73.989551,40.740343,2015-02-06 23:55:00+00,2015-02-06 23:51:00+00
32948,39390,NaN,NaN,1,1984.0,17844,435,383,271,Subscriber,W 21 St & 6 Ave,Greenwich Ave & Charles St,-73.994156,40.741740,-74.000271,40.735238,2015-02-06 23:56:00+00,2015-02-06 23:51:00+00
32949,39391,NaN,NaN,1,1987.0,21040,438,361,572,Subscriber,St Marks Pl & 1 Ave,Allen St & Hester St,-73.985649,40.727791,-73.991908,40.716059,2015-02-07 00:01:00+00,2015-02-06 23:52:00+00
32950,39392,NaN,NaN,1,1981.0,19480,380,503,498,Subscriber,W 4 St & 7 Ave S,E 20 St & Park Ave,-74.002939,40.734011,-73.987520,40.738274,2015-02-07 00:01:00+00,2015-02-06 23:53:00+00
32951,39393,NaN,NaN,1,1978.0,21130,258,324,425,Subscriber,DeKalb Ave & Vanderbilt Ave,DeKalb Ave & Hudson Ave,-73.968855,40.689407,-73.981013,40.689888,2015-02-07 00:00:00+00,2015-02-06 23:53:00+00
32952,39394,NaN,NaN,1,1983.0,16934,435,496,267,Subscriber,W 21 St & 6 Ave,E 16 St & 5 Ave,-73.994156,40.741740,-73.992390,40.737262,2015-02-06 23:58:00+00,2015-02-06 23:53:00+00
32953,39395,NaN,NaN,1,1968.0,20745,318,484,165,Subscriber,E 43 St & Vanderbilt Ave,W 44 St & 5 Ave,-73.977987,40.753202,-73.980144,40.755003,2015-02-06 23:56:00+00,2015-02-06 23:53:00+00
32954,39396,NaN,NaN,1,1969.0,16811,507,464,751,Subscriber,E 25 St & 2 Ave,E 56 St & 3 Ave,-73.979738,40.739126,-73.967597,40.759345,2015-02-07 00:06:00+00,2015-02-06 23:54:00+00
32955,39397,NaN,NaN,1,1980.0,21259,476,301,747,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-07 00:07:00+00,2015-02-06 23:54:00+00
32956,39398,NaN,NaN,1,1993.0,15618,375,439,511,Subscriber,Mercer St & Bleecker St,E 4 St & 2 Ave,-73.996951,40.726795,-73.989780,40.726281,2015-02-07 00:03:00+00,2015-02-06 23:54:00+00
32957,39399,NaN,NaN,1,1959.0,17370,486,497,489,Subscriber,Broadway & W 29 St,E 17 St & Broadway,-73.988557,40.746201,-73.990093,40.737050,2015-02-07 00:02:00+00,2015-02-06 23:54:00+00
32958,39400,NaN,NaN,1,1984.0,19430,295,504,1183,Subscriber,Pike St & E Broadway,1 Ave & E 15 St,-73.992939,40.714067,-73.981656,40.732219,2015-02-07 00:14:00+00,2015-02-06 23:55:00+00
32959,39401,NaN,NaN,1,1986.0,18303,512,510,649,Subscriber,W 29 St & 9 Ave,W 51 St & 6 Ave,-73.998393,40.750073,-73.980420,40.760660,2015-02-07 00:06:00+00,2015-02-06 23:55:00+00
32960,39402,NaN,NaN,1,1990.0,20360,453,254,377,Subscriber,W 22 St & 8 Ave,W 11 St & 6 Ave,-73.999154,40.744751,-73.998004,40.735324,2015-02-07 00:01:00+00,2015-02-06 23:55:00+00
32961,39403,NaN,NaN,1,1983.0,21564,491,470,485,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-07 00:04:00+00,2015-02-06 23:56:00+00
32962,39404,NaN,NaN,1,1983.0,21575,368,482,298,Subscriber,Carmine St & 6 Ave,W 15 St & 7 Ave,-74.002150,40.730386,-73.999318,40.739355,2015-02-07 00:01:00+00,2015-02-06 23:56:00+00
32963,39405,NaN,NaN,1,1983.0,21014,346,461,648,Subscriber,Bank St & Hudson St,E 20 St & 2 Ave,-74.006180,40.736529,-73.982050,40.735877,2015-02-07 00:07:00+00,2015-02-06 23:57:00+00
32964,39406,NaN,NaN,2,1989.0,17797,450,252,1261,Subscriber,W 49 St & 8 Ave,MacDougal St & Washington Sq,-73.987882,40.762272,-73.998522,40.732264,2015-02-07 00:19:00+00,2015-02-06 23:58:00+00
32965,39407,NaN,NaN,1,1984.0,16975,270,324,331,Subscriber,Adelphi St & Myrtle Ave,DeKalb Ave & Hudson Ave,-73.971789,40.693083,-73.981013,40.689888,2015-02-07 00:04:00+00,2015-02-06 23:58:00+00
32966,39408,NaN,NaN,1,1982.0,19820,236,345,629,Subscriber,St Marks Pl & 2 Ave,W 13 St & 6 Ave,-73.987140,40.728419,-73.997044,40.736494,2015-02-07 00:10:00+00,2015-02-06 23:59:00+00
32967,39409,NaN,NaN,1,1966.0,19487,502,263,492,Subscriber,Henry St & Grand St,Elizabeth St & Hester St,-73.981346,40.714215,-73.996375,40.717290,2015-02-07 00:07:00+00,2015-02-06 23:59:00+00
32968,39410,NaN,NaN,1,1987.0,15426,301,401,329,Subscriber,E 2 St & Avenue B,Allen St & Rivington St,-73.983688,40.722174,-73.989978,40.720196,2015-02-07 00:04:00+00,2015-02-06 23:59:00+00

# Task 3

## Get station locations in web mercator projection

In [23]:
q8 = '''
SELECT
    CDB_TransformToWebmercator(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
        )
) as the_geom_webmercator, MIN(cartodb_id) as cartodb_id
FROM citibike
GROUP BY
      start_station_latitude,
      start_station_longitude
'''

In [24]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q8)), sep=',')

                                  the_geom_webmercator  cartodb_id
0    0101000020110F0000863F88A4096A5FC19D1DAFD5DFF1...          84
1    0101000020110F0000BB2EC9F82D6A5FC19150E1B461FB...         412
2    0101000020110F0000D62721D3CA6D5FC157A5D529F6F5...         516
3    0101000020110F000060197671C96C5FC197A854AF46FA...         359
4    0101000020110F0000993A68067B6C5FC1B222DA492BFA...          78
5    0101000020110F00004FF9F3E90D6D5FC1F284479FC8F9...        1019
6    0101000020110F00003816CC930D6B5FC17B393D28A0F9...         110
7    0101000020110F00006B6C9CBF186A5FC109C57CA0D8FC...           7
8    0101000020110F00008B8D725EB16B5FC1BF41718A0DF6...         460
9    0101000020110F0000BA97F1D5D36C5FC13D326BC3E4F5...         799
10   0101000020110F000052716DFB7B6D5FC1634AEE724BF4...        5444
11   0101000020110F000079B8DA32AB685FC194DBF126F9F4...         459
12   0101000020110F000004115CC3E56B5FC1D8A47A41AFF7...         618
13   0101000020110F00006C38A18AC36A5FC1CCDA8D8DAFFC...         288
14   0101000020110F0000EC774642E56C5FC13DF29213A3F7...          26
15   0101000020110F00006EAC10AF716A5FC1491D46B773FC...         519
16   0101000020110F0000F211F9C1C7695FC1E298B1F0A7F1...         707
17   0101000020110F00002FE7B4B3FC6D5FC150F152E3E5F5...        1205
18   0101000020110F0000C12D0F658D675FC1323CC0ADCAF2...           6
19   0101000020110F00007392D1EEBD685FC17A448F6F1AF2...        8955
20   0101000020110F00003CBD186C2C6A5FC1C2D62BADBCF6...         370
21   0101000020110F0000B8ECD5128D6D5FC1CF0946E36EF6...         797
22   0101000020110F00007BC267B2266C5FC14EDB28B171F2...         153
23   0101000020110F0000C74600C9BE6B5FC1451EF62F18F9...         424
24   0101000020110F0000F9471F1F9A6C5FC125B4B2DACDF8...          55
25   0101000020110F0000B4B6D9A8FF695FC1B42BC0556EF1...        3237
26   0101000020110F00005293059FE96B5FC1283F96AE66FD...         387
27   0101000020110F0000F9420761D76C5FC19CAEC2F187F6...        1151
28   0101000020110F00001EF7B62F966B5FC1649B856FF3FA...         252
29   0101000020110F00002011DE6425685FC115AB984DDAF1...         653
..                                                 ...         ...
297  0101000020110F00003A962D08646B5FC1C2CAB91C36F2...         574
298  0101000020110F0000BECCC59977685FC1A94F3336D6F2...         968
299  0101000020110F00009492832C826A5FC13DFED2D04CF2...         115
300  0101000020110F0000CECBC1AD456B5FC149916BC5DDFD...        1386
301  0101000020110F00002E55C204246D5FC1CA6FCB5F1FFB...         306
302  0101000020110F00005A738F401D6A5FC1E98304C839F9...         218
303  0101000020110F00000DCC625D696D5FC158A6C354E2F6...        2184
304  0101000020110F0000E9C5F392EA6A5FC14849234B6AF3...         805
305  0101000020110F000029CC2D4A18685FC1860D5E9389F1...         410
306  0101000020110F0000B056ADFF5C6A5FC1500051A8DCF1...         533
307  0101000020110F0000416B223CE96B5FC1EE8BEFEA70FA...         411
308  0101000020110F000049FA5A0D3A695FC1BA4AA87F7AF1...        2402
309  0101000020110F000055982AD3F16B5FC1607FD69C04F6...         339
310  0101000020110F0000A452F7AC7B6B5FC185F5C472A5F6...          83
311  0101000020110F000001D7D2EC996C5FC1E4C65FCA5FF8...         216
312  0101000020110F00003410F605196D5FC18E052E1DD2F8...        1092
313  0101000020110F00006F4EDEDB7D6A5FC177CDA056BEF6...          81
314  0101000020110F00001288289AB06A5FC143D788E4D9FC...         303
315  0101000020110F00000AFD8FC8C36C5FC15AF2587A04FB...         176
316  0101000020110F00001607D538556B5FC119A6CA6F41FC...         124
317  0101000020110F0000049C1A69CE6C5FC1205139A81BF8...          13
318  0101000020110F00002FD56A5DDF685FC1A458A08E56F1...         765
319  0101000020110F00002D1B19CE146C5FC11E9608E2CDF3...        1737
320  0101000020110F0000E463F723266A5FC14F49CEE530FB...        2481
321  0101000020110F00005E9509B1416B5FC19122492B05FD...          71
322  0101000020110F000020CE41FA366A5FC1E47EC45CABFA...         491
323  0101000020110F000084B804B2CF6A5FC14B886A9682F7...         128
324  0101000020110F0000D13ED956106D5FC18EB95BEE7AFA...         239
325  0101000020110F00003F37CE288B6C5FC17049FA687DF6...         971
326  0101000020110F000035628033456B5FC1909E3C7438F6...        1146

[327 rows x 2 columns]

## Get station locations in web mercator projection along with their ids and the number of trips started in each stations

In [25]:
q9 = '''
SELECT
    start_station_id,
    CDB_TransformToWebmercator(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
        )
) as the_geom_webmercator, MIN(cartodb_id) as cartodb_id, COUNT(tripduration) as numtrips
FROM citibike
GROUP BY
      start_station_id,
      start_station_latitude,
      start_station_longitude
'''

In [26]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q9)), sep=',')

,start_station_id,the_geom_webmercator,cartodb_id,numtrips
0,438,0101000020110F0000B77CA834036B5FC19EF5005EBCF7...,79,156
1,342,0101000020110F0000BEA7E6966A6A5FC1E90E1AC83EF6...,609,78
2,242,0101000020110F0000E097312EB1695FC111C4474A72F3...,454,46
3,161,0101000020110F00009B8267C45D6C5FC1577C6302EFF7...,185,203
4,373,0101000020110F0000C12D0F658D675FC1323CC0ADCAF2...,6,27
5,168,0101000020110F000071CD414CFB6B5FC149C2933772F9...,49,327
6,502,0101000020110F00002877F4708B6A5FC1ED3B00D9C9F5...,289,151
7,421,0101000020110F00000C641AC573695FC10D6A916323F3...,238,37
8,511,0101000020110F000049C345A6266A5FC17E86BFF6F6F7...,69,279
9,422,0101000020110F0000CECBC1AD456B5FC149916BC5DDFD...,1386,100
10,150,0101000020110F00006F4EDEDB7D6A5FC177CDA056BEF6...,81,111
11,346,0101000020110F0000969455933E6D5FC1A4562C44FDF8...,353,145
12,336,0101000020110F0000C7190C70786C5FC1F82649041FF8...,144,168
13,447,0101000020110F0000C7B648A0F56A5FC1216D3CB2E3FC...,57,133
14,224,0101000020110F00005E9EC4512C6D5FC177B28BD464F5...,422,85
15,456,0101000020110F0000B40569A5BF695FC10D4011DA50FC...,2124,110
16,233,0101000020110F000044F0C73C726B5FC188EC9C51ABF2...,497,78
17,391,0101000020110F0000A8FBD82BDC6B5FC1FD9F40EE67F3...,296,69
18,329,0101000020110F0000BBFE259DAE6D5FC13F284F33AEF6...,423,145
19,403,0101000020110F00000E2687AA8F6B5FC1F3478CEB56F7...,90,151
20,497,0101000020110F0000B72236DE7E6B5FC1A5B36C6610F9...,2,455
21,473,0101000020110F0000337955DDB16B5FC1C076C7ACC6F6...,572,99
22,2005,0101000020110F00009A6669876B695FC10D48A3FB82F4...,3353,7
23,238,0101000020110F0000C4D625B2816D5FC12FBDC310F1F8...,141,125
24,315,0101000020110F0000B5F95D1A4D6D5FC132F8697042F4...,2181,69
25,312,0101000020110F0000A8014A8A636B5FC10F173AB8E9F6...,50,207
26,368,0101000020110F0000049C1A69CE6C5FC1205139A81BF8...,13,238
27,496,0101000020110F0000C74600C9BE6B5FC1451EF62F18F9...,424,250
28,195,0101000020110F0000BC4C99F3B46D5FC1364ECE710CF5...,82,137
29,454,0101000020110F0000D387C368DE685FC193F25C8393FB...,2462,55
...,...,...,...,...
297,366,0101000020110F000087AD95F530695FC170A30C9EC8F2...,276,88
298,433,0101000020110F0000FBA51FEA756A5FC145EC8A16FDF7...,139,259
299,348,0101000020110F000071400FA2BD6C5FC1A4E1B08D52F7...,121,159
300,475,0101000020110F0000B76EBA16396B5FC1E9FD7307CEF8...,478,156
301,404,0101000020110F0000EA6CA0E22B6D5FC1F97C572892F9...,125,111
302,212,0101000020110F000011E9874F506D5FC16595D5C8F7F9...,104,186
303,261,0101000020110F0000887B01DBCA6A5FC1460C403AFFF2...,538,50
304,530,0101000020110F0000EFB63F568B6B5FC1BA0977D902FE...,271,120
305,152,0101000020110F000013E68901906D5FC1E01E051FDDF5...,617,71
306,393,0101000020110F0000DC206DB8646A5FC10C6344210CF7...,194,142
307,257,0101000020110F0000F9420761D76C5FC19CAEC2F187F6...,1151,123
308,279,0101000020110F0000E75F390EC16C5FC14E0F2D01E1F4...,88,89
309,344,0101000020110F0000D0E154178D675FC1F29001B79EF1...,326,34
310,449,0101000020110F00005E9509B1416B5FC19122492B05FD...,71,107
311,358,0101000020110F0000FC6E938E586D5FC139B57A8E78F8...,1875,292
312,464,0101000020110F00000BFF00CD0C695FC12F8C896943FC...,651,41
313,390,0101000020110F00001C646E37DD6A5FC1B030DD41A2F2...,461,27
314,458,0101000020110F00002E55C204246D5FC1CA6FCB5F1FFB...,306,172
315,345,0101000020110F00001894AD4E406C5FC1C3F266FCFBF8...,68,257
316,431,0101000020110F0000262E4F4BAF6A5FC18F9D963E1FF2...,7628,28
317,250,0101000020110F0000EEE2EC99196C5FC100162DBD45F7...,29,289
318,453,0101000020110F0000993A68067B6C5FC1B222DA492BFA...,78,218
319,265,0101000020110F000055F0F956A56B5FC10907DD79F2F6...,414,132
320,271,0101000020110F000066B2B2F02F6A5FC1412D1AC2A3F1...,86,100
321,351,0101000020110F0000F755C40E3D6D5FC1271815E582F4...,330,63
322,267,0101000020110F000059CCF6FF3A6B5FC15A3E50FC0FFB...,156,177
323,335,0101000020110F0000F993EDE4EC6B5FC122E50B32EAF7...,9,222
324,485,0101000020110F0000D0737852C46A5FC1E580A30DFAFA...,122,157
325,470,0101000020110F0000EF5A95B3936C5FC1FB99CB9AFBF9...,205,173
326,349,0101000020110F0000126814C8C16A5FC1C316564267F6...,269,65

## but only limited to stations within 500m radius of Time Square

In [27]:
q10 = '''
SELECT
    start_station_id,
    CDB_TransformToWebmercator(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
        )
) as the_geom_webmercator, MIN(cartodb_id) as cartodb_id, COUNT(tripduration) as numtrips
FROM citibike
WHERE
     ST_DWithin(CDB_LatLng(
         start_station_latitude,
         start_station_longitude
)::geography, CDB_LatLng(40.7577,-73.9857)::geography, 500)
GROUP BY
      start_station_id,
      start_station_latitude,
      start_station_longitude
'''

In [28]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q10)), sep=',')

,start_station_id,the_geom_webmercator,cartodb_id,numtrips
0,477,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,33,507
1,2021,0101000020110F00001607D538556B5FC119A6CA6F41FC...,124,141
2,465,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,54,251
3,493,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,19,141
4,524,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,1115,112
5,529,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,783,221
6,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,213

# Task 4

## find the trip with longest average duration on weekends and within 500m of Times Square

In [29]:
q11 = '''
SELECT
    start_station_id,
    CDB_TransformToWebmercator(CDB_LatLng(
      start_station_latitude,
start_station_longitude)
) as the_geom_webmercator, MIN(cartodb_id) as cartodb_id, AVG(tripduration) as avg_duration
FROM citibike
WHERE
     ST_DWithin(
         CDB_LatLng(
              start_station_latitude,
         start_station_longitude
)::geography, CDB_LatLng(40.7577,-73.9857)::geography, 500)
AND
extract(DOW FROM starttime) IN (0,6)
GROUP BY
      start_station_id,
      start_station_latitude,
      start_station_longitude
ORDER BY avg_duration DESC LIMIT 1
'''

In [30]:
pd.read_csv(StringIO.StringIO(queryCartoDB(q11)), sep=',')

,start_station_id,the_geom_webmercator,cartodb_id,avg_duration
0,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,1010.104167

# extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel

## correct the importing library for python3 urllib and also the function calls

In [ ]:
SQL_SOURCE = 'https://td928-nyu.carto.com/api/v2/sql?q='

import urllib.request, urllib.error, urllib.parse
import urllib.request, urllib.parse, urllib.error
import io
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.parse.urlencode({'format': format, 'q': query})
    try:
        response = urllib.request.urlopen(source, data)
    except urllib.error.HTTPError as e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()